.page-product-container {
  display: flex;
}

.cart-container {
  width: 30%;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product-wrapper {
  border: solid 1px red;
  padding: 20px;
  margin: 20px;
  font-size: 15px;
  text-align: start;
  display: flex;
  height: 150px;
}

.img-wrapper {
  margin: 0 50px;
  width: 100px;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.text-content {
  width: 100px;
}

.title {
  height: 80px;
  overflow: hidden;
}

.btncart {
  margin: 5px;
  background-color: rgb(140, 172, 166);
  color: rgb(117, 35, 29);
  padding: 5px;
  font-size: 20px;
  height: 30px;
  text-align: center;
}

.img-cart {
  margin: 0 50px;
  width: 50px;
}

.carttitle {
  height: 20px;
  font-size: 10px;
  overflow: hidden;
}

.cart-container {
  border: solid 1px blue;
  min-width: 300px;
}